extends ../layout.pug

block content
  main.main-page.main-page--padding
    section.main-page__publication.publication
      h1.publication__title Комментарии
      ul.publication__list
        each article of articles
          li.publication__list-item.publication__list-item--last
            .publication__header
              img.publication__list-image(src='/img/avatar-small-2.png' width='20' height='20' alt='Аватар пользователя')
              b.publication__list-name Александр Петров
              time.publication__item-time(datetime=article.publicationDate) #{formattedDate(article.publicationDate)}
            a.publication__item-text(href='#')
              | #{article.title}
            p.publication__text-strong
              | #{article.announce}
            button.publication__button.button.button--close-item(type='button')
              span.visually-hidden Закрыть строку списка
